* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-size: 28px;
}

.logotipo {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12pt;
}
  
li a:hover:not(.active) {
  background-color: #111;
}
  
.active {
  background-color: #4CAF50;
}

.divPrincipal {
  height: 1000px;
}

.rodape {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 12pt;
  color:white;
  text-align:center;
}
